<h1>Bienvenido a Monchie!</h1>

<!--
<form>
Usuario: <input type="text" name="usuario">
</form> 
<form>
Password: <input type="password" name="password">
</form>
-->
<% if user_signed_in? %>
	<%= link_to "Entrar como Cliente", restaurantes_selRestaurante_path,:class => 'btn' %></p>
<%end%>
<p><%= link_to "Entrar como Dependiente", productos_path,:class => 'btn' %></p>


