<h1>Orden</h1>

<table>
  <thead>
    <tr>
      <th>Fecha</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ordens.each do |orden| %>
      <tr>
        <td><%= orden.fecha %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

