<%- model_class = ProductosVendido -%>
<div class="page-header">

  <h1><%= @productos_vendido.producto.nombre%></h1>
  <h1> Precio: ¢<%=@productos_vendido.producto.precio%></h1>

</div>



<%= render 'form' %>
