<h3>Por favor Seleccione su Producto</h3>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Precio</th>
      <th>Cantidad</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>

    <% @productos.each do |producto| %>
      <tr>
        <td><%= producto.nombre %></td>
        <td><%= producto.precio %></td>
     
       
	<td>
  
   	<%= link_to 'Agregar Carrito', new_productos_vendido_path %>
	</td>
	
	
      </tr>

    <% end %>
    <tr><td>             

    </td></tr>
     

     
    
  </tbody>
</table>

<br>

