<h3>Por favor Seleccione su Producto</h3>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Precio</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>

    <% @productos.each do |producto| %>
      <tr>
        <td id = "texto"><%= producto.nombre %></td>
        <td id = "texto"><%= producto.precio %></td>
     
       
	<td id = "texto">
  
   	<%= link_to 'Agregar Carrito', new_productos_vendido_path, :class => 'btn' %>
	</td>
	
	
      </tr>

    <% end %>
    <tr><td>             

    </td></tr>
     

     
    
  </tbody>
</table>

<br>

