<h3>Por favor Seleccione su Producto</h3>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Precio</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>

    <% @productos.each do |producto| %>
      <tr>
        <td id = "texto"><%= link_to producto.nombre, new_productos_vendido_path %></td>
        <td id = "texto"><%= producto.precio %></td>
	
      </tr>

    <% end %>





  </tbody>
</table>

<br>

