<h3>Por favor Seleccione su Producto</h3>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Precio</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>

    <% @productos.each do |producto| %>
      <tr>
        <td id = "texto"><%= link_to producto.nombre, new_productos_vendido_path(:producto => { :producto_id => producto.id } ) %></td>
        <td id = "texto">¢<%= producto.precio %></td>
	
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Ver Carrito', productos_vendidos_verCarrito_path, :class => 'btn' %>
<%= link_to 'Modo Retiro', ordens_cambioModoRetiro_path, :class => 'btn' %>
<br>

