<HTML ng-app>

<HEAD>
    <meta charset="utf-8">
<script src="http://code.jquery.com/jquery.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>

<script>
/*function MyCntrl($scope) {
  $scope.module = [
    {provincia:'San jose', shade:'dark'},
    {provincia:'limón', shade:'light'},
      {provincia:'cartago', shade:'light'},
  ];
  $scope.prov = $scope.module[2];
}*/
function MyCntrl2($scope) {
  $scope.module = [
    {name:'black', shade:'dark'},
    {name:'white', shade:'light'},
  ];
  $scope.miTel = $scope.module[2];
}
</script>
</head>
<BODY>
    
<h4>Información de Usuario</h4>
    
<form>
Primer Nombre: <input type="text" name="primerNombre">
Segundo Nombre: <input type="text" name="primerNombre">
<br>
Primer Apellido: <input type="text" name="primerApellido">
Segundo Apellido: <input type="text" name="segundoApellido">
</form>

<h4>Género</h4>
<form>
<input type="radio" name="sex" value="femenina">Femenino
<input type="radio" name="sex" value="masculino">Masculino

</form>    
   
<div ng-controller="MyCntrl2">
  <ul>
    <li ng-repeat="usuario in module">
      Teléfono: <input ng-model="usuario.telefono">
      [<a href ng-click="module.splice($index, 1)">Eliminar</a>]
    </li>
    <li>
      [<a href ng-click="module.push({})">Agregar telefono</a>]
    </li>
  <span  class="nullable">
    <br/>
    <select ng-model="miTel" ng-options="usuario.telefono for usuario in module">        
      <option value="">Mis teléfonos</option>
    </select>
  </span><br/>
  </ul>
</div>

<h4>Ingresar Dirección</h4>
    
<form nameProv=myform >
Provincia:
<select nameProv=mytextarea size=1>
<option nameProv=sanJose value=SanJose selected> SanJose </option>
<option nameProv=heredia value=Heredia> Heredia </option>
<option nameProv=cartago value=Cartago > Cartago </option>
<option nameProv=puntarenas value=Puntarenas> Puntarenas </option>
<option nameProv=alajuela value=Alajuela> Alajuela </option>
<option nameProv=limon value=Limón > Limón </option>
<option nameProv=puntarenas value=Puntarenas> Puntarenas </option>
</select>
    
Cantón: <input type="text" name="canton">
Distrito: <input type="text" name="distrito">

</form>
Señas específicas
<br/>
<textarea name="textarea" rows="5" cols="70"></textarea> 

<br/>
<form name="input" action="demo_form_action.asp" method="get">
<input type="submit" value="Registrar">
</form>
</BODY>

</HTML>

