<table border=1>
	<tr>
		<td width="800" height="200">
		<iframe src=<%=productos_selProductos_path(restauranteUser_Id:@restauranteUserId)%> width="850" height="500" frameBorder= 0></iframe>
        </td>

	</tr>

</table>


<%= link_to 'Atras',restaurantes_selRestaurante_path,class: 'btn'%>
<%= link_to 'Siguiente', ordens_finalizarOrden_path(restauranteUser_Id:@restauranteUserId),:class => 'btn' %>




