<%= link_to "Cerrar Sesión", destroy_user_session_path,method: :delete %>
<table border=1>
	<tr>
		<td width="800" height="200" >
		<iframe src=<%=productos_selProductos_path%> width="850" height="500"></iframe>
		</td>

	</tr>

</table>


<%= link_to 'Atras',restaurantes_selRestaurante_path,class: 'btn'%>
<%= link_to 'Pagar', static_pages_home_path,:class => 'btn' %>




